<footer
  class="flex flex-col justify-center items-center w-full absolute botoom-0 bg-gradient-to-b from-[#000000] to-[#000000cc] h-36"
>
  <p class="text-white text-center">© 2025 ElendTalk</p>
  <p class="text-white text-center">Email: carlosvassan@gmail.com</p>
</footer>
