<header>
  <div class="flex justify-center items-center w-full h-48 bg-gradient-to-b from-[#000000] to-[#000000cc]">
    <h1 class="text-6xl font-bold text-center text-white">ElendTalk</h1>
  </div>
</header>
